*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color: #141414;
}

.container{
    background-color: #1F1F1F;
    text-align: center;
}

    .raper {
        position: relative;
        width: 100%;
        height: 100vh; 
      }
      
      .container {
        position: absolute;
        top: 50%;
        left: 50%; 
        transform: translate(-50%, -50%);
        text-align: center; /* Center the text and buttons*/
        padding: 20px;  /*Optional padding */
        background-color: #1F1F1F; /* Optional background color */
        border-radius: 10px; /* Optional rounded corners */
      }

.raper {
    width: 80%;
    margin: 160px auto;

  }

.img-section{
    height: 100px;
    width: 100px;
    margin: 0 auto;
}

.img-section img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.content h1{
    color: #fff;
    opacity: 75%;
    margin: 20px 0;
}

.content h3{
    color: #C5EA47;
    margin-bottom: 15px;
    font-size: 17px;
}

.content p{
    color: #BABABA;
    margin-bottom: 15px;
    font-size: 17px;
}

.btn-section{ 
    display: flex;
    flex-direction: column-reverse;
}

button{
    padding: 10px;
    background-color: #333333;
    margin-bottom: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}


button a{
    text-decoration: none;
    /* padding: 100px ; */
    font-size: 18px;
    color: #fcfcfc;
    /* target: "_blank"; */
}

@media screen and (max-width: 576px) {

}